#jeopardy-board {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    text-align: center;
    gap: 10px;
}

#jeopardy-header {
    background-color: #e31c41;
    color: #ffffff; 
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px; 
    border-radius: 5px; 
}

#jeopardy-header h1 {
    margin: 0;
    font-size: 2.5rem; 
    font-weight: bold;
}


.category-row, .points-row {
    display: contents;
}

.category, .points {
    border: 2px solid #333;
    padding: 20px;
    background-color: #e31c41;
    color: #fff;
    font-size: 20px;
}

/* Add styling if need /
